@mixin fontType ($size, $weight: normal, $family: serif, $color: #343a40){
    font: {
        size: $size;
        weight: $weight;
        family: $family;
    }
    color: $color;
}
.navTitle{
    @include fontType(35px, normal, ('Chewy', cursive), #10ADD7)
}