@mixin fontType ($size, $family: serif, $weight: normal, $color: default){
    font: {
        size: $size;
        weight: $weight;
        family: $family;
    }
    color: $color;
}
.navTitle{
    @include fontType(35px,('Chewy', cursive) ,normal, #10ADD7);
}
.navItem{
    @include fontType(28px, ('Chewy', cursive));
}
.project-text{
    @include fontType(30px, ('Chewy', cursive), normal, #10ADD7);
    text-align: center;
}
.infoText{
    @include fontType(23px,('Kalam', cursive),normal ,#FFFFFF );
}