.navTitle{
	font-size: 35px; 
	font-family: 'Chewy', cursive;
	color: #10ADD7;
}
.navItem{
	font-size: 28px; 
	font-family: 'Chewy', cursive;
}
#main{
	position: relative;
	top: 70px;
	background-color: #0FB5DE;
	height: 100%;
}
.navbar-collapse.collapse.in {
  display: block!important;
}
.container-fluid{
	padding: 0;
}
#masterPhoto{
	position: relative;
	width: 100%;
	height: 400px;
}
#masterPhotoText{
	position: absolute;
	top: 5%;
	left: 35%;
	font-size: 60px;
	color: #10ADD7;
	font-family: 'Chewy', cursive;
}
.infoTitle{
	margin-top: 150px;
	margin-left: 50px;
	font-size: 50px; 
	font-family: 'Chewy', cursive;
}
#summary-container{
	position: absolute;
	padding: 10px;
	margin: 20px 30px;
	width: 95%;
	height: 400px;
	border: 1px solid black;
}